<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ページの内容を表す文章">
        <!-- cssパス -->
        <link rel="stylesheet" type="text/css" media="screen and (min-width:769px)" href="../static/css/TOP.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-width:768px)" href="../static/css/TOP_sp.css">
    


        <title>俺たちのサイト</title>
  </head>


    <body>

        <header>
            <div class="header_logo">
            <img src="../static/img/team_logo.png" alt="logo">
            </div>
      
            <div class = "search_area">
              <form action = "/search-result/">
                <form onsubmit="return goSearch()" class="search_area">
                 <input id = "search_input" placeholder = "店舗名を検索" type = "text" name = "search-key">
                </form>
              </form>
            </div>
      
            <nav class="horizontal-list">
              <button class="btn-contents" onclick="location.href='file:///C:/Users/tomoko/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C/templates/genre_izakaya.html'"> 
               <div>居酒屋</div>
              </button>
              <button class="btn-contents" onclick="location.href='file:///C:/Users/tomoko/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C/templates/genre_snack.html'"> 
               <div>スナック</div>
              </button>
              <button class="btn-contents" onclick="location.href='file:///C:/Users/tomoko/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C/templates/genre_%20club.html'"> 
                <div>クラブ</div>
              </button>
              <button class="btn-contents" onclick="location.href='file:///C:/Users/tomoko/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C/templates/genre_bar.html'"> 
                <div>BAR</div>
              </button>
              <button class="btn-contents" onclick="location.href='file:///C:/Users/tomoko/Desktop/%E5%8D%92%E6%A5%AD%E5%88%B6%E4%BD%9C/templates/genre_%20sousaku.html'"> 
                <div>創作料理</div>
              </button>
              <button class="btn-contents"> 
                <div>和食</div>
              </button>
              <button class="btn-contents"> 
              <div>洋食</div>
              </button>
              <button class="btn-contents"> 
                <div>中華</div>
              </button>
              <button class="btn-contents"> 
              <div>焼肉</div>
              </button>
              <button class="btn-contents"> 
                <div>other</div>
              </button>
            </nav>
          </header>

          
        <main id = "img_scroll">
      
            <div class ="container">
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
            </div>
                <p class="pagination"></p>
                    <a class="pagination__next" href="page_3.html">next</a>
        </main>
    </body>
</html>