<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="ページの内容を表す文章">
        <!-- cssパス -->
        <link rel="stylesheet" type="text/css" media="screen and (min-width:769px)" href="../static/css/TOP.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-width:768px)" href="../static/css/TOP_sp.css">
    


        <title>俺たちのサイト</title>
  </head>


    <body>
        <main id = "img_scroll">
      
            <div class ="container">
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
               <article class = "post"><img src="../static/img/YO26199.jpg" style="vertical-align:middle;"><img src="../static/img/YO26109.jpg" style="vertical-align:middle;"><img src="../static/img/four_backbar_side.jpg" style="vertical-align:middle;"></article>
            </div>
                <p class="pagination"></p>
                    <a class="pagination__next" href="page_3.html">next</a>
        </main>
    </body>
</html>