<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ページの内容を表す文章">
    <title>yshop6</title>
    <link rel="stylesheet" href="../static/shop.css">
</head>

<body>

    <div class = "db_imgs">

        <!-- <form action = "shop_img" method = "GET">
         <img src="../img/ダウンロード.jpg" alt="">
        </form> -->

    </div>
     
    <div class = "shop_data">

        <p>ジャンル：{{shop_info[2]}}</p>
        <p>店名：{{shop_info[1]}}</p>
        <p>住所：{{shop_info[3]}}</p>
        <p>TEL：{{shop_info[5]}}</p>
        <p>予算：{{shop_info[6]}}</p>
        <p>座席数：{{shop_info[7]}}</p>
        <p>営業時間：{{shop_info[8]}}</p>
        <p>クレジットカード対応：{{shop_info[9]}}</p>

        <a href="/url">お店のサイトはこちら</a>
        
    </div>

</body>

</html>
