<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ページの内容を表す文章">
    <title>yshop8</title>
    <link rel="stylesheet" href="../static/css/shop.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
</head>

<body>
    <div class="my-slider">
        <div><img src="../static/img/club/club1_2.jpg"></div>
        <div><img src="../static/img/bar/bar2_1.jpg"></div>
        <div><img src="../static/img/bar/bar2_3.jpeg"></div>
    </div>

   
    <div class = "shop_data">

        <p>ジャンル：{{shop_info[2]}}</p>
        <p>店名：{{shop_info[1]}}</p>
        <p>住所：{{shop_info[3]}}</p>
        <p>TEL：{{shop_info[5]}}</p>
        <p>予算：{{shop_info[6]}}</p>
        <p>座席数：{{shop_info[7]}}</p>
        <p>営業時間：{{shop_info[8]}}</p>
        <p>クレジットカード対応：{{shop_info[9]}}</p>

        <a href="/url">お店のサイトはこちら</a>
        
    </div>

    <div class="btn_back">
        <button class="btn-flat-border" type="button" onclick="history.back()">BACK</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="./slick/slick.js" type="text/javascript" charset="utf-8"></script>

    <script>
        $(function(){
          $('.my-slider').slick({
            dots:true,
          });
        });b
    </script>
    
</body>


</html>
